/**************************************/
/*         SECTION - FORMATION           */
/**************************************/
.formation-section {
  padding-top: 100px;
  background: linear-gradient(to right, $blue, $lightblue);
  position: relative;

  .formation-head {
    justify-content: center;

    h1 {
      justify-content: center;
      text-align: center;
      margin-bottom: 50px;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .formation-cards {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    h2 {
      margin: 0;
      font-weight: bold;
    }

    .formation-card-pad {
      padding: 10px 5px 30px 5px;
    }

    .formation-card {
      min-height: 100%;
      margin: 10px;
      border-radius: 10px;
      background-color: $white;
      position: relative;
      padding: 0px;

      .formation-title {
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        height: 20px;
        font-weight: bold;


        .h2-formation {
          position: relative;
          top: -20px;
          font-size: 40px;
          font-family: $f-primary;
        }
      }

      .formation-title-one {
        background-color: $redAdobe;
      }

      .formation-title-two {
        background-color: $yellow;
      }

      .formation-title-three {
        background-color: $lightgreen;
      }

      .formation-list {
        padding: 20px 0px 20px 0px;

        ul {
          padding-right: 2rem;

          li {
            font-family: $f-secondary;
            font-size: 20px;
            display: flex;
            align-items: baseline;
            margin-bottom: 10px;

            .li-arrow {
              margin-right: 20px;

              svg {
                fill: $lightblue;
                vertical-align: unset;
              }
            }

            .li-text {
              line-height: 1;
            }
          }
        }
      }
    }
  }

  .formation-buttons {
    justify-content: center;
    padding: 20px 0px 20px 0px;
    margin: 0px;


    .formation-button {
      background-color: $black;
      border-radius: 5px;
      padding: 10px 21px;
      margin: 10px;
      position: relative;
      text-align: center;

      a {
        font-size: 15px;
        font-weight: bold;
        color: $white;
        text-decoration: none;
      }

      &.download-button {
        svg {
          margin-right: 10px;
          margin-top: -7px;
        }
      }

      &:hover {
        background-color: $redAdobe;
      }
    }
  }

  .reconnaissance {
    text-align: center;
    color: $white;
    padding-bottom: 100px;
    padding-top: 44px;
    font-size: 16px;

    .reconnaissance-de {
      font-weight: bold;
      margin-bottom: 0px;
      font-size: 18px;
    }

    .reconnaissance-level {
      font-family: $f-secondary;
      font-size: 16px;
    }
  }
}

@media (min-width: 576px) {
  .formation-section {
    .formation-head-title {
      h1 {
        font-size: 35px;
      }

    }

    .formation-buttons {
      margin: 0 auto;
    }
  }
}

@media (min-width: 768px) {
  .formation-section {
    .formation-head {
      margin: 0px;
    }

    h1 {

      display: flex !important;
      position: relative;

      .formation-head-title {
        width: fit-content;

        &:after {
          content: "";
          background: url("../img/all-level.svg") no-repeat;
          position: absolute;
          width: 200px;
          height: 90px;
          margin-left: 30px;
        }
      }

    }

  }
}

@media (min-width: 992px) {
  .formation-section {
    .h2-formation {
      font-size: 65px;
    }

    h1 {

      &:after {
        overflow: hidden;
        right: -2px;
        top: 17px;
      }

    }

    .formation-button {
      padding: 10px 60px;
    }
  }

}

@media (min-width: 1200px) {
  .formation-section {
    h1 {
      .formation-head-title {
        &:after {
          top: -10px;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .formation-section {
    h1 {

    }

    .formation-title {
      .h2-formation {
        font-size: 65px !important;
        top: -41px !important;
      }

    }
  }
}